// nextflow.config - use explicit cache/fasta paths from your working command

params {
    samples   = "${projectDir}/samples.csv"
    outdir    = "${projectDir}/results"
    vep_image = "ensemblorg/ensembl-vep:release_115.0"

    //updated paths
    cache_dir = "/mnt/d/clovertex_assignment"
    fasta     = "/home/ritika/vep_minidata/GRCh37.primary.fa"

    threads   = 1
    memory    = "3 GB"
}

process {
    executor  = 'local'
    cpus      = params.threads
    memory    = params.memory
    container = params.vep_image
}

docker {
    enabled = true
    runOptions = [
        "--user 1000:1000",                         // make container write as your user
        "-v ${projectDir}:/workspace",             // mount project folder
        "-v /mnt/d/clovertex_assignment:/mnt/d/clovertex_assignment", // mount cache + VCF dir
        "-v /home/ritika/vep_minidata:/home/ritika/vep_minidata"      // mount fasta dir
    ].join(' ')
}

trace {
  overwrite = true
}
report {
  overwrite = true
}
timeline {
  overwrite = true
}

